.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  width: 110px;
  background-color: white;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  background: none;
  font-size: 28px;
  height: 44px;
  outline: none;
  /* border: 2px solid transparent; */
  color: white;
  padding: 0px 15px;
  margin: 2px 10px;
  cursor: pointer;
  background-color: rgba(47, 12, 117, 0.7);
  border-radius: 5px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin: 0px 4px;
  border-radius: 5px;
}

.label {
  font-size: 26px;
  padding: 2px;
  text-align: center;
  margin: 0px 2px;
}

.button:hover,
.button:focus {
  /* border: 2px solid rgba(112, 76, 182, 0.4); */
}

.button:active {
  background-color: rgba(146, 125, 187, 0.7);
}

.asyncButton {
  composes: button;
  position: relative;
}

.asyncButton:after {
  content: "";
  background-color: rgba(196, 182, 224, 0.8);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width var(--transition-duration) linear,
    opacity var(--transition-duration) ease var(--transition-duration);
}

.asyncButton:active:after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}
