.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    align-items: center;
    border: 1px solid black;
    margin: 50px;
    padding: 50px;
    border-radius: 5px;
    overflow-Y: auto;
}

.cardzone {
    display: flex;
    height: 100%;
}

.title {
    margin: 20px;
}

.btn-add-item {
    align-self: flex-end;
    margin-left: 2px;
}

.btn-delete-item {
    margin-left: 5px;
}

.item {
    display: flex;
    justify-content: space-between;

}

.cardzone {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 60%;
}

.cardzone>div {
    margin: 2px;
}