.fieldset-city {
    background-color: rgb(239, 255, 183);
    border-width: 3px;
    border-color: rgb(29, 182, 88);
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 180px;
    height: 70px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.input-time {
    border-radius: 5px;
    border-style: solid;
    height: 20px;
    width: 120px;
}

.span-oclock {
    font-size: 15px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;

}

.div-citytime {
    display: flex;
    margin: 30px;
}