.square {
    background: #f5e691;
    border: 2px solid #2e2e2e;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    float: left;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.squares {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    grid-gap: 0;
}

.game-screen {
    display: flex;
    margin: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.game-info {
    display: flex;
}

li {
    list-style-type: none;
}

div {
    margin-right: 15px;
}